/* DEFAULT FONT */

html, body {
    font-family: "Open Sans", sans-serif;
}

.container {
    position: relative;
    min-height: 100%;
}

/* HEADER */

.row.header-logo {}

img.img-header-logo {
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 450px;
    height: 200px;
}

.col-md-6.col-md-6-custom-navbar {
    border-top: 5px double #000;
    border-bottom: 5px double #000;
    margin-bottom: 15px;
    text-align: center;
    font-family: "Roboto Slab", serif;
}

.col-md-8.col-md-8-custom-navbar {
    border-top: 5px double #000;
    border-bottom: 5px double #000;
}

/* NAVBAR SCHEMES */

.navbar-nav {
  width: 100%;
  text-align: center;
}

.navbar-nav > li {
  float: none;
  display: inline-block;
}

.navbar-default .navbar-nav > li > a {
    color: #000;
}

.navbar-default {
    border-radius: 0px;
    background-color: transparent;
    font-family: "Roboto Slab", serif;
    border: 0px;
    opacity: 0.95;
    z-index: 1;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: #000;
    background-color: transparent;
    border-bottom: 3px solid #663333;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    color: #000;
    background-color: transparent;
}

.navbar-nav > li > .dropdown-menu {
    margin-top: 8px;
    border-top: 0;
    background-color: #FFCC99;
}

/* ROW */

.row.row-custom {
    background-color: #FFCC99;
    border: 6px groove #CC3300;
    border-radius: 4px;
    margin: 0px;
    padding: 5px;
    opacity: 0.95;
    z-index: 0;
}

/* FOOTER SCHEMES */

.footer.footer-custom {
    margin-top: 15px;
    position: relative;
    padding: 5px;
    opacity: 0.95;
    z-index: 0;
}

.footer-left {
    font-family: "Roboto Slab", serif;
    font-weight: bold;
    color: #000;
    margin: 0;
    float: left;
}

.footer-right {
    font-family: "Roboto Slab", serif;
    font-weight: bold;
    color: #000;
    margin: 0;
    float: right;
}

.clear-footer {
    clear: both;
}

/* COLUMNS */

.col-md-12.col-md-12-custom {
    margin-top: 20px;
}

/* BUTTONS */

.btn.btn-primary.btn-primary-custom {
    background-color: #CC3300;
    border-color: #CC3300;
    color: #FFF;
}

.btn.btn-primary.btn-primary-custom:hover {
    background-color: #663333;
    border-color: #663333;
    color: #FFF;
}

/* GLYPHICONS */

.glyphicon {
    margin-right: 4px;
}

/* TEXT STYLES */

h1.center, h2.center {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

/* FORM */

.center-form {
    text-align: center;
}

/* LEFT-ALIGN GLYPHICONS INSIDE INPUT */

.has-feedback .form-control {
  padding-right: 34px;
}
.has-feedback .form-control.input-sm,
.has-feedback.form-group-sm .form-control {
  padding-right: 30px;
}
.has-feedback .form-control.input-lg,
.has-feedback.form-group-lg .form-control {
  padding-right: 46px;
}
.has-feedback-left .form-control {
  padding-right: 12px;
  padding-left: 34px;
}
.has-feedback-left .form-control.input-sm,
.has-feedback-left.form-group-sm .form-control {
  padding-left: 30px;
}
.has-feedback-left .form-control.input-lg,
.has-feedback-left.form-group-lg .form-control {
  padding-left: 46px;
}
.has-feedback-left .form-control-feedback {
  left: 0;
}
.form-control-feedback {
  line-height: 34px !important;
}
.input-sm + .form-control-feedback,
.form-horizontal .form-group-sm .form-control-feedback {
  width: 30px;
  height: 30px;
  line-height: 30px !important;
}
.input-lg + .form-control-feedback,
.form-horizontal .form-group-lg .form-control-feedback {
  width: 46px;
  height: 46px;
  line-height: 46px !important;
}
.has-feedback label.sr-only ~ .form-control-feedback,
.has-feedback label.sr-only ~ div .form-control-feedback {
  top: 0;
}
@media (min-width: 768px) {
  .form-inline .inline-feedback {
    position: relative;
    display: inline-block;
  }
  .form-inline .has-feedback .form-control-feedback {
    top: 0;
  }
}
.form-horizontal .has-feedback-left .form-control-feedback {
  left: 15px;
}

/* OTHER STYLES */

#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
   background:#6cf;
}